* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  user-select: none;
}

a {
  text-decoration: none;
}

input {
  display: inline-block;
  width: 100%;
  padding: 8px;
  outline: none;
  border: 1px solid #40189d;
  font-size: 1.1rem;
  color: #40189d;
}

button {
  width: 100%;
  padding: 8px;
  outline: none;
  border: 1px solid #40189d;
  font-size: 1.1rem;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Utitlity classes */
.border-radius {
  border-radius: 5px;
}

.fa-arrow-up,
.fa-arrow-down {
  cursor: pointer;
}

#message,
#loginMessage,
#searchmessage {
  display: none;
  color: red;
  text-align: center;
  transition: 0.5s ease-in-out;
}

#loginMessage {
  display: block;
  visibility: hidden;
}

#searchmessage {
  margin-top: 20px;
  font-size: 1.5rem;
}

#loginMessage {
  margin-top: 50px;
}
/* END - Utility classes */

#home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

#home button {
  margin: 0 10px;
}

#home div {
  height: 90px;
  width: 2px;
  background-color: #40189d;
}

#loginContainer,
#signupContainer,
#addUserContainer,
#updateUserContainer,
#adminFormContainer {
  display: none;
  width: 30%;
  padding: 40px;
  font-size: 1.1rem;
  box-shadow: 0 0 10px 10px #eaeaf0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
}

#admin {
  cursor: pointer;
}

#addUserContainer,
#updateUserContainer,
#adminFormContainer {
  background-color: white;
  z-index: 100;
}

#login > div,
#signup > div,
#addUser > div,
#updateUser > div,
#adminForm > div {
  margin-bottom: 1rem;
}

#login > div:first-child,
#signup > div:first-child,
#addUser > div:first-child,
#updateUser > div:first-child,
#adminForm > div:first-child {
  text-align: right;
  color: #40189d;
  cursor: pointer;
  font-size: 1.3rem;
}

#login > div:first-child:hover,
#signup > div:first-child:hover,
#addUser > div:first-child:hover,
#updateUser > div:first-child:hover {
  opacity: 0.8;
}

#login label,
#signup label,
#addUser label,
#updateUser label,
#adminForm label {
  display: block;
  margin-bottom: 5px;
  padding: 0 8px;
}

.signuperror,
.loginerror,
.addUserError {
  color: red;
  font-size: 0.8rem;
  margin-top: 2px;
  padding: 0 8px;
  visibility: hidden;
}

#signup label:last-child,
#addUser label:last-child {
  margin-bottom: 0;
}

#login > div:last-child {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageUpload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #40189d;
  padding: 8px !important;
  cursor: pointer;
  color: #40189d;
  margin-bottom: 0 !important;
}

.imageUpload i {
  margin-right: 10px;
}

#loginButton,
#signupButton,
#addUserSubmitButton,
#updateUserSubmitButton,
#home button,
#previousPageButton,
#nextPageButton,
#updateAdminSubmitButton {
  width: auto;
  padding: 8px 16px;
  background-color: #40189d;
  color: white;
  cursor: pointer;
}

#signupButton,
#addUserSubmitButton,
#updateUserSubmitButton,
#updateAdminSubmitButton {
  width: 100%;
}

#forgetPasswordLink {
  color: #40189d;
}

/* User list */
#userList {
  width: 90%;
  margin: auto;
  padding: 40px 20px;
  display: none;
  flex-direction: column;
}

#userList > div:first-child {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

#userImage {
  margin-right: 10px;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(160, 160, 160, 0.637);
  position: relative;
}

#userImage i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #40189d;
}

#userName {
  font-size: 1.5rem;
  color: rgb(160, 160, 160);
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#addUserButton,
#logoutButton {
  outline: none;
  border: none;
  width: 150px;
  padding: 8px 16px;
  background-color: #40189d;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 50px 0;
}

#searchCountry {
  margin-bottom: 50px;
}

#searchCountry::placeholder {
  color: #40189d;
}

#userListTable {
  width: 100%;
  box-shadow: 0 0 10px 10px #eaeaf0;
}

#userListTable table {
  width: 100%;
  padding: 10px;
}

#userListTable table th,
#userListTable table td {
  padding: 15px 10px;
  text-align: left;
}

#userListTable table th:last-child,
#userListTable table tr td:last-child,
#userListTable table th:nth-child(2),
#userListTable table tr td:nth-child(2) {
  text-align: center;
}

#userListTable table th {
  color: #40189d;
  padding-bottom: 40px;
}

#userListTable table th i {
  margin-left: 10px;
}

#loader,
#updateloader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-top: 5px solid #40189d;
  animation: rotation 1s linear infinite;
  margin: 30px auto;
}

#updateloader {
  display: none;
  width: 30px;
  height: 30px;
  border-top: 2px solid #40189d;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.edit {
  margin: auto;
  font-weight: bold;
  cursor: pointer;
}

#pagination {
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#pagination button {
  width: auto;
  margin: 0 10px;
}

#pagination button:disabled:hover {
  cursor: not-allowed;
}

/* END - User list */

@media (min-width: 1130px) and (max-width: 1350px) {
  #loginContainer,
  #signupContainer {
    width: 30%;
  }

  table tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
  }

  table tbody:first-child {
    display: none;
  }

  #userListTable table tr td:nth-child(2) {
    text-align: left;
  }
}

@media (min-width: 971px) and (max-width: 1129px) {
  #loginContainer,
  #signupContainer {
    width: 35%;
  }

  table tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
  }

  table tbody:first-child {
    display: none;
  }

  #userListTable table tr td:nth-child(2) {
    text-align: left;
  }
}

@media (min-width: 800px) and (max-width: 970px) {
  #loginContainer,
  #signupContainer {
    width: 40%;
  }

  table tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
  }

  table tbody:first-child {
    display: none;
  }

  #userListTable table tr td:nth-child(2) {
    text-align: left;
  }
}

@media (max-width: 799px) {
  #loginContainer,
  #signupContainer,
  #addUserContainer,
  #updateUserContainer {
    width: 80%;
  }

  table tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
  }

  #userListTable table tr td:nth-child(2) {
    text-align: left;
  }

  table tbody:first-child {
    display: none;
  }
}

@media (max-width: 500px) {
  #loginContainer,
  #signupContainer,
  #addUserContainer,
  #updateUserContainer {
    width: 80%;
  }

  table tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
  }

  #userListTable table tr td:nth-child(2) {
    text-align: left;
  }

  table tbody:first-child {
    display: none;
  }

  #userList > div:first-child {
    align-self: center;
  }

  .buttons {
    flex-direction: column;
  }

  #addUserButton,
  #logoutButton {
    margin: 0;
    margin-top: 30px;
    width: 100%;
  }

  #searchCountry {
    margin-top: 50px;
  }
}
